aiofiles
aiogram
aiohttp
apscheduler
asyncio
bard
stripe==10.7.0
mysql-connector-python==9.0.0
telebot
bing_image_downloader
beautifulsoup4
rapidfuzz
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
gitpython
gpytranslate
gtts
groq
tgcrypto>=1.2.5
hachoir
heroku3
httpx
img2pdf
instaloader
kurigram
lexica-api
motor
numpy
openai
opencv-python
pillow
psutil
pymongo
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrotgfork >= 2.2.20
python-dotenv
python-telegram-bot>=22.6
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml
qrcode
requests
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
py-yt-search
git+https://github.com/AsmSafone/SafoneAPI
